{% extends 'base.html' %}

{% block title %}Dashboard - Preventix{% endblock %}

{% block content %}
    <h2>Bienvenido a Preventix</h2>
    <p>Aquí puedes administrar tus citas, registros médicos, y más.</p>

    <h3 class="mt-4">Próximas Citas</h3>
    <ul class="list-group">
        {% for appointment in appointments %}
            <li class="list-group-item">
                <strong>{{ appointment.title }}</strong>
            <table class="table-borderless">
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>{{ appointment.date }}</td>
                </tr>
                <tr>
                    <td><strong>Hora:</strong></td>
                    <td>{{ appointment.time }}</td>
                </tr>
                <tr>
                    <td><strong>Lugar:</strong></td>
                    <td>{{ appointment.address }}</td>
                </tr>
                <tr>
                    <td><strong>Doctor:</strong></td>
                    <td>{{ appointment.doctor_name }}</td>
                </tr>
            </table>
            </li>
        {% empty %}
            <li class="list-group-item text-muted">No hay citas programadas.</li>
        {% endfor %}
    </ul>
{% endblock %}

