{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width: 900px; margin: 0 auto;">
    <h3>Estadísticas de tus tipos de citas</h3>
    <canvas id="specialtyChart" width="400" height="275"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Usamos JSON.parse() para convertir los datos en un objeto JavaScript válido
    const labels = JSON.parse('{{ labels|escapejs }}');
    const counts = JSON.parse('{{ counts|escapejs }}');

    const ctx = document.getElementById('specialtyChart').getContext('2d');
    const specialtyChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Cantidad de citas por especialidad',
                data: counts,
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,  // Permite que el gráfico se adapte a las dimensiones del canvas
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    }
                }
            }
        }
    });
</script>
{% endblock %}

